<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加坐标</title>
</head>
<body>
    <form action="http://134.175.42.25:8080/pad/addLocation" method="post">
        经度:  <input id="xLocation" name="xLocation" type="text" placeholder="请输入经度"/><br/>
        纬度:  <input id="yLocation" name="yLocation" type="text" placeholder="请输入纬度"/><br/>
        物品:  <input id="item" name="item" type="text" placeholder="请输入物品名称"/><br/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>